# docker-compose.yaml

version: '3.8'
services: 


  main:
    image: osixia/openldap:1.5.0
    volumes:
      - /etc/localtime:/etc/localtime
      - {{ ssl_cert_dir }}/:/etc/ssl/certs/
      - {{ config_dir }}/certs/:/container/service/slapd/assets/certs/
      - {{ config_dir }}/slapd:/etc/ldap/slapd.d
      - {{ data_dir }}:/var/lib/ldap
    ports:
      - 389:389
      - 636:636
    environment:
      - LDAP_TLS=true
      - LDAP_TLS_DH_PARAM_FILENAME=custom_dhparam.pem
      - LDAP_TLS_CA_CRT_FILENAME=custom_ca.crt
      - LDAP_TLS_CRT_FILENAME=custom_ldap.crt
      - LDAP_TLS_KEY_FILENAME=custom_ldap.key
      - LDAP_TLS_VERIFY_CLIENT=try
      - LDAP_ORGANISATION=Diesel-Net
      - LDAP_DOMAIN=diesel.net
      - LDAP_ADMIN_PASSWORD={{ admin_password }}
      #- LDAP_LOG_LEVEL=64
      - KEEP_EXISTING_CONFIG=false
      - LDAP_REMOVE_CONFIG_AFTER_SETUP=false
      - HOSTNAME={{ domain }}
      - LDAP_SSL_HELPER_PREFIX=ldap
      - LDAP_OPENLDAP_UID=1001
      - LDAP_OPENLDAP_GID=1001
    #hostname: {{ domain }}
    command: >
      --loglevel debug
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external:
      name: {{ docker_network }}
